/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/blog/[id]/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_container__yG46Z {
}

.page_top__umwvB {
  display: flex;
}

.page_info__3vrDS {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page_title__boO97 {
  font-size: 40px;
}

.page_desc__B204t {
  font-size: 18px;
  font-weight: 300;
}

.page_author__bo7pI {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page_avatar__vrohI {
  object-fit: cover;
  border-radius: 50%;
}

.page_imageContainer__fwMJP {
  flex: 1 1;
  height: 300px;
  position: relative;
}

.page_image__Pgfzj {
  object-fit: cover;
}

.page_content__Wj_uz {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #999;
  text-align: justify;
}

