/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/blog/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.page_container__L0wnr {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.page_image__zcsEB {
  object-fit: cover;
}

.page_content__k_sRz {
}

.page_title__QshzN {
  margin-bottom: 10px;
}

.page_desc__glK4x {
  font-size: 18px;
  color: #999;
}

